.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(190, 188, 188);
  border-radius: 5px;
  margin: 5px;
  width: 190px;
  height: 300px;
  box-sizing: border-box;
}

img {
  width: 160px;
  height: 150px;
}

p {
  font-size: 14px;
  text-align: center;
}

.title {
  font-weight: 800;
}

.price {
  background-color: blueviolet;
  width: 65px;
  padding: 5px;
  color: white;
  border-radius: 5px;
  margin: 10px auto;
}

.qtd {
  display: none;
}