:root {
  --toastify-color-progress-light: linear-gradient(
    to right,
    #5e10a7,
    #671cad,
    #9b16b6,
    #dc4834,
    #bd5c0c,
    #db5c08
  );
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(150deg, #9462b5 10%, #d45972 60%, #f88848 100%);
  border: 2.7px solid #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fd5f03;
}

::-webkit-scrollbar-track {
  background: #f1eaf2;
  border-radius: 4px;
  box-shadow: inset -6.8px 5.6px 7px -10px #a35fc2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
